/* changes the design of discord's ui*/

/* rounds the sidebar and spaces it out */
.sidebar-2K8pFh {
	border-radius: 12px 12px 0px 0px;
	margin-top: 12px;
}

/* changes the "find or start a conversation" box */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	border-radius: 12px;
	text-align: center;
}

/* makes the search bar round and adds a hover animation */
.searchBar-3dMhjb {
	border-radius: 12px;
	padding: 0px 5px 0px 5px;
	transition: 0.25s;
}

.searchBar-3dMhjb:hover {
	width: 240px;
}

/* separates the channel bar from chat, and rounds the chat view */

.content-yTz4x3:before {
	display: none;
}

.chat-3bRxxu {
	border-radius: 12px 12px 0px 0px;
	margin: 12px 11px 0px 10px;
}

/* makes the text input box round */
.scrollableContainer-2NUZem {
	border-radius: 18px;
}

/* makes the avatars in chat square-ish on hover */
img[class*="avatar"] {
	transition: 0.25s;
}

img[class*="avatar"]:hover {
	border-radius: 30%;
}

/* makes the roles look nicer */
.role-2irmRk {
        border-radius: 10px;
        background-color: var(--background-secondary-alt);
        position: relative;
        overflow: hidden;
        border: none;
        padding: 2px 5px 2px 2px;
}

.roleCircle-3xAZ1j::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        opacity: .2;
        pointer-events: none;
}
.footer-1fjuF6 {
        border-top: none;
}

/* edits bot tags to be more round */
.px-10SIf7.botTag-2WPJ74 {
	border-radius: 10px;
	padding: 1px 8px;
	text-align: center;
}

.rem-2m9HGf.botTag-2WPJ74 {
	border-radius: .496rem;
	padding: .096rem .540rem;
	text-align: center;
}

/* makes buttons round, returning them to normal on hover */
.button-1YfofB {
	border-radius: 12px;
	transition: 0.25s;
}

.button-1YfofB:hover {
	border-radius: 4px;
}

.button-14-BFJ {
	border-radius: 12px;
	transition: 0.25s;
}

.button-14-BFJ:hover {
	border-radius: 4px;
}

.button-1PXUl0 {
	border-radius: 12px;
	transition: 0.25s;
}

.button-1PXUl0:hover {
	border-radius: 4px;
}
.button-38aScr {
	border-radius: 12px;
	transition: 0.25s;
}

.button-38aScr:hover {
	border-radius: 4px;
}

/* makes buttons in the sidebars rounded */

/* channel list */
.content-1x5b-n {
	border-radius: 12px;
	transition: 0.25s;
}

.content-1x5b-n:hover {
	border-radius: 4px;
}

/* voice users */
.content-1Wq3SX {
	border-radius: 12px;
	transition: 0.25s;
}

.content-1Wq3SX:hover {
	border-radius: 4px;
}

/* member list members */
.layout-2DM8Md {
	border-radius: 18px;
	transition: 0.25s;
}

.layout-2DM8Md:hover {
	border-radius: 4px;
}

/* user settings */

/* radio buttons */
.item-26Dhrx {
	border-radius: 15px;
	transition: 0.25s;
}

.item-26Dhrx:hover {
	border-radius: 4px;
}

/* sidebar options left: 0px;*/
.side-8zPYf6 .item-PXvHYJ {
	border-radius: 12px;
	transition: 0.25s;
}

.side-8zPYf6 .item-PXvHYJ:hover {
	border-radius: px;
}


/* message options */
.wrapper-2aW0bm {
	border-radius: 12px;
}

/* attatched message bars */
.attachedBars-tZDmyV {
    border-radius: 1em;
	margin-bottom: .5em;
	background: none;
}

.replyBar-1YLQ2F {
	border-radius: 12px;
	background-color: var(--background-secondary-alt);
}

.jumpToPresentBar-G1R9s6 {
	margin-bottom: 13px;
	border-radius: 12px;
	padding: 4px;
}

.newMessagesBar-265mhP {
	border-radius: 12px;
	margin-top: 10px;
}

.messagesErrorBar-nyJGU7 {
	border-radius: 12px;
	margin-bottom: 14px;
	padding: 4px;
}

.threadSuggestionBar-2ufK2Z {
	border-radius: 12px;
	margin-bottom: 14px;
	padding: 4px;
	background-color: var(--background-secondary-alt);
}

/* home pages */
.applicationStore-1pNvnv {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}

.container-1a3EgQ {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}

.container-1D34oG {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}

/* makes popup buttons round */
.item-1tOPte {
	border-radius: 12px;
	transition: 0.25s;
}

.item-1tOPte:hover {
        border-radius: 4px;
}

/* changes the margin and border radius of the discovery list */
.pageWrapper-1PgVDX {
	margin: 11px 11px 0px 11px;
	border-radius: 12px 12px 0px 0px;
}

/* makes the connected accounts round and gives them a background color */
.connectedAccount-2Jb-Z0 {
	border-radius: 12px;
	background-color: var(--background-secondary-alt);
	border: none;
}

/* fixes mutual server icons */
.iconActiveMedium-1UaEIR {
	border-radius: 50%;
}

/* makes the popout server identity button look like a button */
.colorLink-2vG20E {
	transition: 0.25s;
	border: solid;
	border-radius: 15px;
	padding: 5px 12px;
	border-color: var(--background-tertiary);
	background-color: var(--background-tertiary);
}

.colorLink-2vG20E:hover {
	border-radius: 5px;
}

.setIdentityLink-1t8Ahd {
	margin-top: 14px;
	margin-bottom: 4px;
}

.setIdentityLink-1t8Ahd:hover {
	text-decoration: none;
}

/* message reactions  */
.reaction-1hd86g {
	border-radius: 1em;
	background: var(--background-tertiary);
	border: none;
}

.reaction-1hd86g.reactionMe-wv5HKu {
	background-color: var(--brand-experiment-30a);
}

.reactionInner-15NvIl {
	padding: .15rem .5rem;
}

/* threads */
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
	border-radius: 12px 12px 0px 0px;
}

.threadSidebar-1o3BTy {
	margin: 12px 12px 0px 0px;
	border-radius: 12px 12px 0px 0px;
}
