/* changes the design of discord's ui*/

/* rounds the sidebar and spaces it out */
.sidebar-2K8pFh {
	border-radius: 12px 12px 0px 0px;
	margin-top: 11px;
}

/* changes the "find or start a conversation" box */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	border-radius: 12px;
	text-align: center;
}

/* makes the search bar round and adds a hover animation */
.searchBar-3dMhjb {
	border-radius: 12px;
	padding: 0px 5px 0px 5px;
	transition: 0.25s;
}

.searchBar-3dMhjb:hover {
	width: 240px;
}

/* separates the channel bar from chat, and rounds the chat view */

.content-yTz4x3:before {
	display: none;
}

.chat-3bRxxu {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}

/* makes the text input box round */
.scrollableContainer-2NUZem {
	border-radius: 18px;
}

/* makes the avatars in chat square-ish on hover */
img[class*="avatar"] {
	transition: 0.25s;
}

img[class*="avatar"]:hover {
	border-radius: 30%;
}

/* makes the roles look nicer */
.role-2irmRk {
	border: none;
	background-color: var(--background-secondary-alt);
}

/* makes buttons round, returning them to normal on hover */
.button-1YfofB {
	border-radius: 12px;
	transition: 0.25s;
}

.button-1YfofB:hover {
	border-radius: 4px;
}

.button-14-BFJ {
	border-radius: 12px;
	transition: 0.25s;
}

.button-14-BFJ:hover {
	border-radius: 4px;
}

.button-1PXUl0 {
	border-radius: 12px;
	transition: 0.25s;
}

.button-1PXUl0:hover {
	border-radius: 4px;
}
.button-38aScr {
	border-radius: 12px;
	transition: 0.25s;
}

.button-38aScr:hover {
	border-radius: 4px;
}

/* makes buttons in the sidebars rounded */

/* channel list */
.content-1x5b-n {
	border-radius: 12px;
	transition: 0.25s;
}

.content-1x5b-n:hover {
	border-radius: 4px;
}

/* voice users */
.content-1Wq3SX {
	border-radius: 12px;
	transition: 0.25s;
}

.content-1Wq3SX:hover {
	border-radius: 4px;
}

/* member list members */
.layout-2DM8Md {
	border-radius: 18px;
	transition: 0.25s;
}

.layout-2DM8Md:hover {
	border-radius: 4px;
}

/* message options */
.wrapper-2aW0bm {
	border-radius: 12px;
}

/*reply bar and other stuff */
.replyBar-1YLQ2F {
	border-radius: 12px;
	margin-bottom: 10px;
}

.jumpToPresentBar-G1R9s6 {
	margin-bottom: 13px;
	border-radius: 12px;
	padding: 4px;
}

.newMessagesBar-265mhP {
	border-radius: 12px;
	margin-top: 10px;
}

.messagesErrorBar-nyJGU7 {
	border-radius: 12px;
	margin-bottom: 14px;
	padding: 4px;
}

/* home pages */
.applicationStore-1pNvnv {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}

.container-1a3EgQ {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}

.container-1D34oG {
	border-radius: 12px 12px 0px 0px;
	margin: 11px 10px 0px 10px;
}
